@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #64b5f6;
  --color-base-100: #edeef5;
  --color-base-200: #cfdcff50;
  --color-secondary: #a5d6a750;
  --color-accent: #e3f2fd;
  --color-base-content: #093685;
  --color-error: #e01010;
}

.active {
  border-bottom: 2px solid green;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
