@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #64b5f6;
  --color-base-100: #edeef5;
  --color-secondary: #a5d6a750;
  --color-accent: #e3f2fd;
}

.active {
  border-bottom: 1.5px solid green;
}
